* {
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background: #121312;
}
.header {
  background: purple;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.button {
  border: none;
  font: inherit;
  background: #4d1601;
  color: #fff;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  align-items: center;
  font-weight: bold;
}
.badge {
  background: #b94517;
  padding: 0.2rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}
.shopping-cart {
  width: 750px;
  height: 420px;
  background: #fff;
  margin: 120px auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.shopping-cart h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-bottom: 1px solid #e1e8ee;
}
.product-image {
  margin-right: 50px;
  
}
.item {
  padding: 5px 30px;
  height: 100px;
  display: flex;
  border-bottom: 1px solid #e1e8ee;

}
.product-image img {
  width: 120px;
  height: 80px;
 
}
.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.footer {
  height: 60px;
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 800;
  align-items: center;
  display: flex;
  justify-content: end;

}
.description {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  margin-right: 60px;
  min-width: 150px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.description-price {
  font-weight: 300;
  color: #86939e;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.quantity input {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.plus-btn , .minus {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background:#dde0e2c4 ;
  border: none;
  border-radius: 4px;
}
.plus-btn:active img, .minus:active img {
  filter: brightness(0)

}
.total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 20px;
  font-weight: 600;
}
.remove {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 3rem;
  cursor: pointer;
}
.remove:active img {
  filter: brightness(0)
}